<div class="card ability jsp-ability-light-backgroundColor jsp-ability-light-thickerBorderColor {{#if view}}full static{{/if}}" id="Abilities-{{abilityId}}">
    <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="ability" id="Abilities-Name-{{abilityId}}">
        {{abilityName}}
    </div>
    <div class="description jsp-ability-dark-textColor" id="Abilities-abilityDesc-{{abilityId}}">
        {{#if monsterId}}<div class="stats">{{#ifIsPassive abilityCooldown}}
            Passive
        {{else}}
            {{abilityCooldown}}s Cooldown
        {{/ifIsPassive}}</div>{{/if}}

        {{abilityDesc}}
        <br>
        <br>
        <br>
    </div>
    {{#if suppressDetailsButton}}
    {{else if view}}
    {{else}}
        <div class="button_container">
            <button onClick="toggleEditMode(this, {'entity': 'Abilities', 'id': '{{abilityId}}'}, true)" id="toggleEdit-Abilities-{{abilityId}}">Edit</button>
            <button onClick="updateEntity(this, {'entity': 'Abilities', 'id': '{{abilityId}}'} )" id="update-Abilities-{{abilityId}}" class="hidden">Submit</button>
            <button onClick="deleteEntity(this, {'entity': 'Abilities', 'id': '{{abilityId}}'} )">Delete</button>
        </div>
    {{/if}}
</div>
