<div class="card loot {{#if view}}full static{{/if}}">
    <div class="title" contenteditable="false" id="lootItemTypeName-{{lootItemTypeId}}">
        {{lootItemTypeName}}
    </div>
    <div class="description" contenteditable="false" id="equipable-{{lootItemTypeId}}">
        {{#if equipable}} Equipable
        {{else}} Not equipable
        {{/if}}
    </div>
    <select hidden id="edit-equipable-{{lootItemTypeId}}">
        {{#if equipable}}
        <option value="1" selected>Equipable</option>
        <option value="0">Not equipable</option>
        {{else}}
        <option value="1">Equipable</option>
        <option value="0" selected>Not equipable</option>
        {{/if}}
    </select>
    
    <button onClick="toggleEditMode(this, {{lootItemTypeId}})">Edit</button>
    <button hidden onClick="updateLootItemType(this, {{lootItemTypeId}})" id="update-lootItemType-{{lootItemTypeId}}">Submit</button>
    <button onClick="deleteLootItemType(this, {{lootItemTypeId}})">Delete</button>
</div>

<script>
    function showElementById(id) {
        document.getElementById(id).removeAttribute("hidden")
    }

    function hideElementById(id) {
        document.getElementById(id).setAttribute("hidden", "hidden")
    }
    function toggleEditMode(button, lootItemTypeId) {
        let name = document.getElementById(`lootItemTypeName-${lootItemTypeId}`)
        let equipable = document.getElementById(`equipable-${lootItemTypeId}`)
        if (name.contentEditable == "false") { // Enables editing
            name.contentEditable = "true"
            equipable.contentEditable = "true"
            showElementById(`update-lootItemType-${lootItemTypeId}`)
            showElementById(`edit-equipable-${lootItemTypeId}`)
            hideElementById(`equipable-${lootItemTypeId}`)
            button.innerHTML = "Cancel"
        } else { // Disables editing
            name.contentEditable = "false"
            equipable.contentEditable = "false"
            hideElementById(`update-lootItemType-${lootItemTypeId}`)
            hideElementById(`edit-equipable-${lootItemTypeId}`)
            showElementById(`equipable-${lootItemTypeId}`)
            button.innerHTML = "Edit"
        }
    }

    function updateLootItemType(button, lootItemTypeId) {
        let name = document.getElementById(`lootItemTypeName-${lootItemTypeId}`).textContent.trim()
        let equipable = document.getElementById(`edit-equipable-${lootItemTypeId}`).value
        let xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/update/LootItemType', true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(`lootItemTypeId=${lootItemTypeId}&lootItemTypeName=${name}&equipable=${equipable}`);
    }

    function deleteLootItemType(button, lootItemTypeId) {
        if (confirm("Are you sure you want to delete this loot item type?")) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 400) {
                        alert(`Error: ${this.responseText}`);
                    }
                }
            };
            xhttp.open("POST", '/delete/LootItemType', true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(`lootItemTypeId=${lootItemTypeId}`);
        } else {
            return
        }
    }
</script>
