<div class="card loot jsp-loot-medium-backgroundColor jsp-loot-light-backgroundColor jsp-loot-light-thickerBorderColor {{#if view}}full static{{/if}}" id="LootItemTypeId-{{lootItemTypeId}}">

    <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="loot" id="LootItemTypes-Name-{{lootItemTypeId}}">
        {{lootItemTypeName}}
    </div>

    <div id="description_container jsp-loot-dark-textColor">
        <div class="description" contenteditable="false" id="equipable-{{lootItemTypeId}}">
            {{#if equipable}} Equipable
            {{else}} Not Equipable
            {{/if}}
            {{suppressDetailsButton}}
        </div>
<!--        <select class="description" hidden id="edit-equipable-{{lootItemTypeId}}">-->
        <select class="description hidden"  id="edit-equipable-{{lootItemTypeId}}">
            {{#if equipable}}
            <option value="1" selected>Equipable</option>
            <option value="0">Not Equipable</option>
            {{else}}
            <option value="1">Equipable</option>
            <option value="0" selected>Not Equipable</option>
            {{/if}}
        </select>
    </div>

    <div class="button_container">
        <button onClick="toggleEditMode(this, {'entity': 'LootItemTypes', 'id': '{{lootItemTypeId}}'}, true)" id="toggleEdit-lootItemType-{{lootItemTypeId}}">Edit</button>
        <button onClick="updateEntity(this, {'entity': 'LootItemTypes', 'id': '{{lootItemTypeId}}'} )" id="update-lootItemType-{{lootItemTypeId}}" class="hidden">Submit</button>
        <button onClick="deleteEntity(this, {'entity': 'LootItemTypes', 'id': '{{lootItemTypeId}}'} )">Delete</button>
    </div>

    {{#if suppressDetailsButton}}
    {{else if view}}
    {{else}}
        <a href="/LootItemTypes/view/{{lootItemTypeId}}">
            <button class="viewDetails"></button>
        </a>
    {{/if}}

</div>
