<input name="editAttack" id="editAttack-{{monsterId}}" type="number" min="0" value="{{attack}}">
<label for="editAttack-{{monsterId}}">ATK</label> |

<input name="editDefense" id="editDefense-{{monsterId}}" type="number" min="0" value="{{defense}}">
<label for="editDefense-{{monsterId}}">DEF</label> |

<input name="editSpeed" id="editSpeed-{{monsterId}}" type="number" min="0" value="{{speed}}">
<label for="editSpeed-{{monsterId}}">SPD</label> |

<input name="editHealthPool" id="editHealthPool-{{monsterId}}" type="number" min="0" value="{{healthPool}}">
<label for="editHealthPool-{{monsterId}}">HP</label>