{{#unless view}}<a href="/Monsters/view/{{monsterId}}">{{/unless}}
    <div class="card monster jsp-monster-light-backgroundColor jsp-monster-light-thickerBorderColor {{# if view}}full static{{/if}}">
        <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="monster">
            {{monsterName}} ({{healthPool}} hp)
        </div>
        <div class="description jsp-quest-dark-textColor">
            {{#if questId}}
                <div class="stats">{{attack}} ATK | {{defense}} DEF | {{speed}} SPD</div>
            {{else if view}}
            {{else}}
                <div class="stats">{{attack}} ATK | {{defense}} DEF | {{speed}} SPD</div>
            {{/if}}

            {{monsterDesc}}
        </div>
    </div>
{{#unless view}}</a>{{/unless}}