<div class="card ability jsp-ability-light-backgroundColor jsp-ability-light-thickerBorderColor {{#if view}}full static{{/if}}" id="MonstersAbilities-{{compoundId monsterId abilityId}}">
    <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="monster" id="MonstersAbilities-Name-{{compoundId monsterId abilityId}}">
        {{monsterName}}
    </div>
    <div class="description jsp-ability-dark-textColor" id="MonstersAbilities-ViewDetails-{{compoundId monsterId abilityId}}">
        {{abilityName}} -

        {{#ifIsPassive abilityCooldown}}
            Passive
        {{else}}
            {{abilityCooldown}}s Cooldown
        {{/ifIsPassive}}
    </div>

    <br>
    <br>

    <div class="button_container">
        <button onClick="toggleEditMode(this, {'entity': 'MonstersAbilities', 'id': '{{compoundId monsterId abilityId}}'}, true)" id="toggleEdit-MonstersAbilities-{{compoundId monsterId abilityId}}">Edit</button>
        <button onClick="updateEntity(this, {'entity': 'MonstersAbilities', 'id': '{{compoundId monsterId abilityId}}'} )" id="update-MonstersAbilities-{{compoundId monsterId abilityId}}" class="hidden">Submit</button>
        <button onClick="deleteEntity(this, {'entity': 'MonstersAbilities', 'id': '{{compoundId monsterId abilityId}}'} )">Delete</button>
    </div>

</div>