{{#unless view}}<a href="/Monsters/{{questId}}">{{/unless}}
    <div class="card monster {{# if view}}full static{{/if}}">
        <div class="title">
            {{monsterName}} ({{healthPool}} hp)
        </div>
        <div class="description">
            <div class="stats">{{attack}} ATK | {{defense}} DEF | {{speed}} SPD</div>
            {{monsterDesc}}
        </div>
    </div>
{{#unless view}}</a>{{/unless}}