<div class="card monster jsp-monster-light-backgroundColor jsp-monster-light-thickerBorderColor {{# if view}}full static{{/if}}" id="Monsters-{{monsterId}}">
    <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="monster">
        <div id="Monsters-Name-{{monsterId}}">
            {{monsterName}}
        </div>

        {{#if monsterQty}}
            <span class="subtitle nowrap">(Defeat {{monsterQty}})</span>
        {{/if}}

    </div>
    <div class="description stats jsp-quest-dark-textColor" id="Monsters-Stats-{{monsterId}}">
        {{#if questId}}
            {{> MonstersInfoBand}}
        {{else if view}}
        {{else}}
            {{> MonstersInfoBand}}
        {{/if}}
    </div>
    <div class="hidden description stats jsp-quest-dark-textColor" id="Monsters-EditStats-{{monsterId}}">
        {{> MonstersEditInfoBand}}
    </div>

    <div class="description jsp-quest-dark-textColor" id="Monsters-Type-{{monsterId}}">
        <div class="subtitle stats" id="Monsters-TypeName-{{monsterId}}">{{monsterTypeName}}</div>
    </div>
    <div class="hidden description jsp-quest-dark-textColor" id="Monsters-EditType-{{monsterId}}">
        <select id="monster-types-list-{{monsterId}}" name="monsterTypeId" data-current="{{monsterTypeId}}">
            {{#each monsterTypesList}}
                <option value="{{monsterTypeId}}">{{monsterTypeName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="description jsp-quest-dark-textColor" id="Monsters-Desc-{{monsterId}}">
        {{monsterDesc}}
    </div>
    <br>
    <br>


    {{#if suppressDetailsButton}}
    {{else if view}}
    {{else}}
        <a href="/Monsters/view/{{monsterId}}">
            <button class="viewDetails"></button>
        </a>
        <div class="button_container">
            <button onClick="toggleEditMode(this, {'entity': 'Monsters', 'id': '{{monsterId}}'}, true)" id="toggleEdit-Monsters-{{monsterId}}">Edit</button>
            <button onClick="updateEntity(this, {'entity': 'Monsters', 'id': '{{monsterId}}'} )" id="update-Monsters-{{monsterId}}" class="hidden">Submit</button>
            <button onClick="deleteEntity(this, {'entity': 'Monsters', 'id': '{{monsterId}}'} )">Delete</button>
        </div>
    {{/if}}


</div>