<div class="form_card jsp-global-light-backgroundColor"><form action="/createEntity" method="POST" id="add_new_monster_loot_item">
    <div class="new add title monsterLootItem">
        Assign Loot Item to Monster
    </div>
    <input hidden id="entity" name="entity" value="monsterLootItem"></input>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">

        <label for="monsterId">Monster:</label>
        <br>
        <select id="monsterNames-list" name="monsterId">
            {{#each monsters}}
            <option value="{{monsterId}}">{{monsterName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">

        <label for="lootItemName">Loot Item:</label>
        <br>
        <select id="lootItemNames-list" name="lootId">
            {{#each lootItems}}
            <option value="{{lootId}}">{{lootName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="dropQuantity">Drop Quantity:</label>
        <br>
        <input type="number" min="1" placeholder="{{quantity}}" id="dropQuantity" name="dropQuantity">
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="dropChance">Drop Chance (decimal):</label>
        <br>
        <input type="number" max="1" min="0.000001" step="0.000001" placeholder="{{chance}}" id="dropChance" name="dropChance">
    </div>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster" value="Submit">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form></div>