<a href="/Monsters/{{monsterId}}">
    <div class="card monster">
        <div class="title">
            {{monsterName}} ({{healthPool}} hp)
        </div>
        <div class="description">
            <div class="stats">{{attack}} ATK | {{defense}} DEF | {{speed}} SPD</div>
            {{monsterDesc}}
        </div>
    </div>
</a>