<div class="form_card jsp-global-light-backgroundColor"><form action="/createEntity" method="POST" id="add_new_monster_ability">
    <div class="new add title monsterAbility">
        Assign Ability to Monster
    </div>
        <input hidden id="entity" name="entity" value="monsterAbility"></input>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
        <label for="monsterNames">Monster:</label>
        <br>
        <select id="monsterNames-list" name="monsterId">
            {{#each monsters}}
            <option value="{{monsterId}}">{{monsterName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="new add animate-background-gradient jsp-ability-dark-textColor" data-jsp-palette="ability">

        <label for="abilityNames">Ability:</label>
        <br>
        <select id="abilityNames-list" name="abilityId">
            {{#each abilities}}
            <option value="{{abilityId}}">{{abilityName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
        <label for="coolabilityCooldowndown">Cooldown (in seconds, enter 0 for passive):</label>
        <br>
        <input type="number" min="0" placeholder="{{cooldown}}" id="abilityCooldown" name="abilityCooldown">
    </div>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster" value="Submit">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form></div>