<!-- {{#unless view}}<a href="/QuestGivers/view/{{questGiverId}}">{{/unless}} -->
    <div class="card questGiver jsp-quest-light-backgroundColor jsp-quest-light-thickerBorderColor {{#if view}}full static{{/if}}" id="QuestGivers-{{questGiverId}}">
        <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="quest" id="QuestGivers-Name-{{questGiverId}}">
            {{questGiverName}} {{#if view}}<span class="page_subtitle">- Quest Giver</span>{{/if}}
        </div>
        <div class="button_container">
            <button onClick="toggleEditMode(this, {'entity': 'QuestGivers', 'id': '{{questGiverId}}'}, true)" id="toggleEdit-QuestGivers-{{questGiverId}}">Edit</button>
            <button onClick="updateEntity(this, {'entity': 'QuestGivers', 'id': '{{questGiverId}}'} )" id="update-QuestGivers-{{questGiverId}}" class="hidden">Submit</button>
            <button onClick="deleteEntity(this, {'entity': 'QuestGivers', 'id': '{{questGiverId}}'} )">Delete</button>
        </div>
    </div>
{{#unless view}}</a>{{/unless}}