{{#unless view}}<a href="/Quests/view/{{questId}}">{{/unless}}
<div class="card quest jsp-quest-light-backgroundColor jsp-quest-light-thickerBorderColor {{# if view}}full static{{/if}}">
    <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="quest">
        {{questName}} {{#unless view}}{{#if available}}(!){{/if}}{{/unless}}
    </div>
    <div class="description jsp-quest-dark-textColor">
        {{questDesc}}
    </div>
    <div class="giver jsp-quest-dark-textColor">
        {{#if questGiverId}}- {{questGiverName}}{{else}}- Unknown{{/if}}
    </div>
</div>
{{#unless view}}</a>{{/unless}}