{{#unless view}}<a href="/Quests/{{questId}}">{{/unless}}
<div class="card quest {{# if view}}full static{{/if}}">
    <div class="title">
        {{questName}} {{#if available}}(!){{/if}}
    </div>
    <div class="description">
        {{questDesc}}
    </div>
    <div class="giver">
        {{#if questGiverId}}- {{questGiverId}}{{else}}- Unknown{{/if}}
    </div>
</div>
{{#unless view}}</a>{{/unless}}