<div id="staticInfoband">Level {{suggestedLevel}} | {{rewardXp}} XP | {{rewardGold}} gold</div>
<div id="editInfoband" class="hidden">
    Level <input id="suggestedLevel" type="number" min="1" value="{{suggestedLevel}}"> |
    <input id="rewardXp" type="number" min="0" value="{{rewardXp}}"> XP |
    <input id="rewardGold" type="number" min="0" value="{{rewardGold}}"> gold
</div>