<div class="form_card jsp-global-light-backgroundColor"><form action="/createEntity" method="POST" id="add_new_quest">
    <div class="new add title quest">
        New Quest
    </div>
    <input hidden id="entity" name="entity" value="quest"></input>
    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="questName">Quest Name:</label>
        <br>
        <input required type="text" id="quest-questName" name="questName" placeholder="{{placeholderQuestName}}">
    </div>
    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="available">Quest Available?</label>
        <select id="available" name="available">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>

    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="questDesc">Quest Description:</label>
        <br>
        <textarea required id="questDesc" name="questDesc"></textarea>
    </div>

    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="questGiver">Quest Giver:</label>
        <select id="questGivers-list" name="questGiverId">
            <option value="NULL"> -- </option>
            {{#each questGivers}}
                <option value="{{questGiverId}}">{{questGiverName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="monsterName">Monster:</label>
        <br>
        <select required id="monsterNames-list" name="monsterId">
            {{#each monsters}}
                <option value="{{monsterId}}">{{monsterName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="monsterQty">How many monsters?</label>
        <br>
        <input required type="number" min="1" placeholder="1" id="monsterQty" name="monsterQty">
    </div>

    <div class="form_section">
        <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
            <label for="rewardXp">Reward XP:</label>
            <br>
            <input required type="number" min="0" placeholder="1" id="rewardXp" name="rewardXp">
        </div>
        <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
            <label for="rewardGold">Reward Gold:</label>
            <br>
            <input required type="number" min="0" placeholder="1" id="rewardGold" name="rewardGold">
        </div>
        <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
            <label for="suggestedLevel">Suggested Level:</label>
            <br>
            <input required type="number" min="1" placeholder="1" id="suggestedLevel" name="suggestedLevel">
        </div>
    </div>
    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest" value="Submit">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form></div>