<h1>{{questName}}</h1>
{{#if available}}<h3>Currently Available!</h3>{{/if}}
<h5>Level {{suggestedLevel}} | {{rewardXp}} XP | {{rewardGold}} gold</h5>
<p>{{questDesc}}</p>
<em>{{#if questGiverId}}- {{questGiverId}}{{else}}- Unknown{{/if}}</em>
<p>Monsters: {{monsterQty}} {{monsterId}}s will be there.</p>