<div id="page_title" class="fadeout-gradient">
    {{questName}}
    {{#if available}}<span class="page_subtitle">- Currently Available!</span>{{/if}}
</div>

<div class="info_band">Level {{suggestedLevel}} | {{rewardXp}} XP | {{rewardGold}} gold</div>

<div id="detail_container">
    <div class="card quest full static">
        <div class="title">
            {{questName}}
        </div>
        <div class="description">
            {{questDesc}}
        </div>
        <div class="giver">
            {{#if questGiverId}}- {{questGiverId}}{{else}}- Unknown{{/if}}
        </div>
    </div>

    <div class="card monster full static">
        <div class="title">
            {{monsterId}} ({{monsterQty}} )
        </div>
        <div class="description">
            <div class="stats">{{attack}} ATK | {{defense}} DEF | {{speed}} SPD</div>
            {{monsterDesc}}
        </div>
    </div>
</div>